# Ignore data files NEVER push raw data
/data/*
*.xlsx
*.csv
*.parquet

# Power BI files
*.pbix
*.pbit
*.pbix.RESTORE
~$*.pbix

# Virtual environments
.venv/
venv/
ENV/

# Jupyter checkpoints
.ipynb_checkpoints/

# System files
.DS_Store
Thumbs.db